section.page.home#home
    .container
        .home__inner
            h1.page__title.home__title Творчество начинается с взгляда на весь мир по-другому
            p.page__subtitle.home__subtitle Твои идеи — наша работа!

            .home__image-wrapper
                .home__image
                    img(src=require('../../images/home/illustration.svg'))
                .home__moving-image#moving-image
                    img(src=require('../../images/home/dron.svg'))
                .home__image-src
                    a(href='https://clck.ru/36BVvP') Image by vectorpouch on Freepik