include ../../mixins/card/card.pug

section.page.fade-in-section.service
    .container 
        .service__inner
            h2.page__title Развивайте свой стартап с помощью наших услуг
            p.page__subtitle.subtitle.service__subtitle
                | Наши клиенты получают высококачественные услуги по разработке
                | и продвижению сайтов, что позволяет им достигать поставленных
                | целей и увеличивать прибыль своего бизнеса
            
            a(class='service__link link link--as-btn' href='/order-service.html') Заказать услуги

            ul.service__cards
                li
                    +info-card(
                        'Разработка сайта',
                        '../../images/service/marketing.png',
                        'Мы специализируется на разработке качественных и функциональных сайтов для наших клиентов'
                    )
                li
                    +info-card(
                        'Создание контента',
                        '../../images/service/development.png',
                        'Мы предлагаем услуги по созданию уникального и качественного контента для вашего сайта или блога'
                    )
                li
                    +info-card(
                        'Продвижение сайта',
                        '../../images/service/enterprise.png',
                        'Мы предлагаем услуги по продвижению сайтов в поисковых системах и социальных сетях'
                    )
                
            