{% load static %}

<section class="page fade-in-section about">
    <div class="container">
        <div class="about__inner">
            <div class="about__tabs">
                <div class="tabs" id="tabs-1">
                    <ul class="tabs__tab-list">
                        <li class="tabs__tab">
                            <button>
                                <span class="about__tab">
                                    <div class="about__tab-image about__tab-image--bg-green">
                                        <img src="{% static 'icons/puzzle.63b4bf6f2c0ad9caf760.svg' %}">
                                    </div>
                                    <span class="about__tab-text">Зачем вам сайт</span>
                                </span>
                            </button>
                        </li>
                        <li class="tabs__tab">
                            <button>
                                <span class="about__tab">
                                    <div class="about__tab-image about__tab-image--bg-yellow">
                                        <img src="{% static 'icons/roundcube.fe9c5c83bd25cfbd1be1.svg' %}">
                                    </div>
                                    <span class="about__tab-text">Сколько стоит</span>
                                </span>
                            </button>
                        </li>
                        <li class="tabs__tab">
                            <button>
                                <span class="about__tab">
                                    <div class="about__tab-image about__tab-image--bg-red">
                                        <img src="{% static 'icons/innovation.965779345279916ec9b8.svg' %}">
                                    </div>
                                    <span class="about__tab-text">Что по времени</span>
                                </span>
                            </button>
                        </li>
                    </ul>
                    <div class="tabs__dividor">
                        <span class="tabs__line"></span>
                        <span class="tabs__underline"></span>
                    </div>
                </div>
            </div>
            <div class="pdc" id="pdc-1">
                <div class="pdc__content pdc__content--show pdc__content--visible">
                    <div class="about__body">
                        <div class="about-content about__content">
                            <div class="about-content__text">
                                <h2 class="about-content__title">
                                    Сайт как инструмент развития вашего стартапа
                                    &#129488;
                                </h2>
                                <p class="subtitle about-content__subtitle">
                                    Сайт помогает стартапам привлекать новых клиентов,
                                    рассказывать о своих продуктах и услугах, а также
                                    улучшать взаимодействие с уже существующими клиентами
                                </p>
                            </div>
                            <div class="about-content__image-wrapper">
                                <div class="about-content__image">
                                    <img src="{% static 'icons/illustration-1.2d0d16c30d6dbfe28d1c.svg' %}">
                                </div>
                                <a class="about-content__image-src"
                                    href="https://www.freepik.com/free-vector/organizing-projects-concept-illustration_5911565.htm#query=project&amp;position=12&amp;from_view=search&amp;track=sph">Image
                                    by storyset on Freepik
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pdc__content">
                    <div class="about__body">
                        <div class="about-content about__content">
                            <div class="about-content__text">
                                <h2 class="about-content__title">
                                    Узнайте о ценах на сайт &#129488;
                                </h2>
                                <p class="subtitle about-content__subtitle">
                                    Стоимость создания сайта зависит от
                                    многих факторов,
                                    таких как сложность проекта, количество страниц,
                                    наличие дизайна и т.д. Уточняйте этот вопрос по почте
                                </p>
                            </div>
                            <div class="about-content__image-wrapper">
                                <div class="about-content__image">
                                    <img src="{% static 'icons/illustration-2.5b958bda5c0a97442c6f.svg' %}">
                                </div>
                                <a class="about-content__image-src"
                                    href="https://www.freepik.com/free-vector/mall-shopping-consumerism-retail-commerce-male-flat-character-with-light-bulb-store-cart-purchase-idea-buying-shoppers-buyers-attraction_12083145.htm#page=2&amp;query=Main%20consumers%20projects&amp;position=5&amp;from_view=search&amp;track=ais">Image
                                    by vectorjuice on Freepik
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pdc__content">
                    <div class="about__body">
                        <div class="about-content about__content">
                            <div class="about-content__text">
                                <h2 class="about-content__title">
                                    Как быстро мы можем создать сайт для вас
                                    &#129488;
                                </h2>
                                <p class="subtitle about-content__subtitle">
                                    Время, необходимое для создания
                                    сайта, зависит от
                                    многих факторов, таких как сложность проекта,
                                    количество страниц, наличие дизайна и т.д.
                                    Уточняйте этот вопрос по почте
                                </p>
                            </div>
                            <div class="about-content__image-wrapper">
                                <div class="about-content__image">
                                    <img src="{% static 'icons/illustration-3.9d05403e2a16cfbec7cb.svg' %}">
                                </div>
                                <a class="about-content__image-src"
                                    href="https://www.freepik.com/free-vector/mall-shopping-consumerism-retail-commerce-male-flat-character-with-light-bulb-store-cart-purchase-idea-buying-shoppers-buyers-attraction_12083145.htm#page=2&amp;query=Main%20consumers%20projects&amp;position=5&amp;from_view=search&amp;track=ais">Image
                                    by vectorjuice on Freepik
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>