{% load static %}

<section class="page home" id="home">
    <div class="container">
        <div class="home__inner">
            <h1 class="page__title home__title">
                Творчество начинается с взгляда на весь мир по-другому
            </h1>
            <p class="page__subtitle home__subtitle">
                Твои идеи — наша работа!
            </p>
            <div class="home__image-wrapper">
                <div class="home__image">
                    <img src="{% static 'icons/illustration.42e019ed1091b1d39e88.svg' %}">
                </div>
                <div class="home__moving-image" id="moving-image">
                    <img src="{% static 'icons/dron.4556cf6fa01890d55789.svg' %}">
                </div>
                <div class="home__image-src">
                    <a href="https://clck.ru/36BVvP">
                        Image by vectorpouch on Freepik
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>