{% load static %}

<section class="page fade-in-section partners">
    <div class="container">
        <div class="partners__inner">
            <h2 class="page__title partners__title">Партнеры</h2>
            <p class="page__subtitle partners__subtitle">
                Партнеры помогают нам повысить качество предоставляемых
                услуг
            </p>
            <ul class="partners__partner-list">
                <li class="partners__partner">
                    <div class="partner-card">
                        <div class="partner-card__image">
                            <img src="{% static 'images/NetWorks.46709b93f7a18b0395ea.png' %}">
                        </div>
                        <h3 class="partner-card__title">
                            NetWorks
                        </h3>
                    </div>
                </li>
                <li class="partners__partner">
                    <div class="partner-card">
                        <div class="partner-card__image">
                            <img src="{% static 'images/WebSoulutions.53e37b09edebcbecfef0.png' %}">
                        </div>
                        <h3 class="partner-card__title">WebSoulutions</h3>
                    </div>
                </li>
                <li class="partners__partner">
                    <div class="partner-card">
                        <div class="partner-card__image">
                            <img src="{% static 'images/CodeWave.d547eb4e4d37ddb03690.png' %}">
                        </div>
                        <h3 class="partner-card__title">CodeWave</h3>
                    </div>
                </li>
                <li class="partners__partner">
                    <div class="partner-card">
                        <div class="partner-card__image">
                            <img src="{% static 'images/DigitalTechCo.5523d69abbdeaea60ebe.png' %}">
                        </div>
                        <h3 class="partner-card__title">DigitalTechCo</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>