{% load static %}

<section class="page fade-in-section team">
    <div class="container">
        <div class="team__inner">
            <h2 class="page__title">Познакомьтесь с нашей командой</h2>
            <p class="page__subtitle subtitle team__subtitle">
                Команда нашей компании состоит из талантливых и
                опытных разработчиков, дизайнеров, маркетологов
            </p>
            <div class="team__carousel">
                <div class="carousel">
                    <ul class="carousel__list-items">
                        <li class="carousel__list-item">
                            <div class="team__card">
                                <div class="profile-card">
                                    <div class="profile-card__images profile-card__images--bg-yellow">
                                        <img src="{% static 'images/people1.84ee9b203d0f6dc7e75f.png' %}"
                                            alt="Никольский Всеволод">
                                    </div>
                                    <h3 class="profile-card__name">Никольский Всеволод</h3>
                                    <p class="profile-card__specialization">
                                        Product Designer
                                    </p>
                                    <ul class="profile-card__social-links">
                                        <li class="profile-card__social-link profile-card__social-link--vk">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--tg">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--email">
                                            <a href="/"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="carousel__list-item">
                            <div class="team__card">
                                <div class="profile-card">
                                    <div class="profile-card__images profile-card__images--bg-green">
                                        <img src="{% static 'images/people2.0a3702f007f2ba5a5e3f.png' %}" alt="Попова Анастасия">
                                    </div>
                                    <h3 class="profile-card__name">Попова Анастасия</h3>
                                    <p class="profile-card__specialization">Lead developer</p>
                                    <ul class="profile-card__social-links">
                                        <li class="profile-card__social-link profile-card__social-link--vk">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--tg">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--email">
                                            <a href="/"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="carousel__list-item">
                            <div class="team__card">
                                <div class="profile-card">
                                    <div class="profile-card__images profile-card__images--bg-pink">
                                        <img src="{% static 'images/people3.cca0f84b41309331dab6.png' %}" alt="Сергеев Тимофей">
                                    </div>
                                    <h3 class="profile-card__name">Сергеев Тимофей</h3>
                                    <p class="profile-card__specialization">Experience Designer</p>
                                    <ul class="profile-card__social-links">
                                        <li class="profile-card__social-link profile-card__social-link--vk">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--tg">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--email">
                                            <a href="/"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="carousel__list-item">
                            <div class="team__card">
                                <div class="profile-card">
                                    <div class="profile-card__images profile-card__images--bg-green">
                                        <img src="{% static 'images/people4.4a14d867a24ea16a2fd4.png' %}" alt="Белова Валерия">
                                    </div>
                                    <h3 class="profile-card__name">Белова Валерия</h3>
                                    <p class="profile-card__specialization">User interface designer</p>
                                    <ul class="profile-card__social-links">
                                        <li class="profile-card__social-link profile-card__social-link--vk">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--tg">
                                            <a href="/"></a>
                                        </li>
                                        <li class="profile-card__social-link profile-card__social-link--email">
                                            <a href="/"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="carousel__control">
                        <button class="carousel-ctrl-btn carousel__next">
                            <div class="carousel-ctrl-btn__inner">
                                <img src="{% static 'icons/triangle-down.13552bf7406cc15bec91.svg' %}" alt="next">
                            </div>
                        </button>
                        <button class="carousel-ctrl-btn carousel__back">
                            <div class="carousel-ctrl-btn__inner">
                                <img src="{% static 'icons/triangle-down.13552bf7406cc15bec91.svg' %}" alt="back">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>