.partners {

    &__inner {

    }

    &__title {
        
    }

    &__subtitle {
        margin: 20px auto 64px auto;
        max-width: 550px;
    }

    &__partner-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        > * {
            flex: 1 1 0;
            min-width: 270px;
            max-width: 280px;
        }
    }
}

.partner-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        height: 115px;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        margin-top: 10px;
        text-align: center;
        font-size: #{get-rem(18)}rem;
    }
}